body {
  background-color: #0c2023;
  font-family: "Source Sans Pro", Helvetica;
  color: #CCC;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#chart {
}

.bright {
  fill: #abe4f7;
  stroke: #FFF;
  stroke-width: 1px;
}

.axis .tick {
  fill: #6b99a9;
  stroke: #6b99a9;
  font-size: 0.85em;
}

.axis {
  opacity: 0.25;
}

.axis path {
  fill: #6b99a9;
  stroke: #6b99a9;
}

